
.main{
    height: 100vh;
    overflow: auto;
    background-image: url(images/back2.jpeg);
    background-repeat: no-repeat;
}
h1{
    display: block;
}
.formback{
    margin-top: 100px;
    margin-left: 150px;
    background-color: white;
    border: solid;
    border-color: white;
    border-radius: 8px;

}
input.form-control{
    font-size: 20px;

}
label{
    margin-top: 15px;
}
.star{
    margin-top: 15px;
    color: cyan;
    font-size: 24px;
}
.travel{
    margin-top: 25px;
}
.like{
    font-size: 14px;
    color: cyan;
}
a{
    color: black;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #080808;
}
.hello{
    list-style-type: none;
}
.foot{
    margin-bottom: 50px;
}
.bookingbar{
    background-color: #f15050;
    color: white;
}
.hotel{
    overflow: auto;
    max-height: 100vh;
    /*margin-top: 25px;*/
}
.navbar {
    border-radius: 0px;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.container-fluid-1 {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.location{
    text-transform: uppercase;
}
  .logbtn{
    margin-top: 10px;
    margin-right: 10px;
  }